@import "./global/reset.css";
body{
    padding: 0;
    margin: 0;
}

:root{
    /*colors*/
    --primary: #6A62B7;
    --secondary: #D0CBFF;
    --light: #FFFFFF;
    --black: #141414;
    --gray: #888888;
    --input-gray: #636363;
    --bg-gradient: linear-gradient(180deg, #D0CBFF 0%, rgba(208, 203, 255, 0.00) 100%);

    /*main fontsizes*/
    --font-xs: 1.6rem;
    --font-xs-s: 1.8rem;
    --font-s: 2.4rem;
    --font-m: 2.8rem;
    --font-l: 4.8rem;
    --font-xxl: 9.6rem;
    --font-b:6.4rem;

}

html{
    font-size: 10px;
}

@media (max-width: 1025px) {
    :root{
        --font-xs: 1.6rem;
        --font-xs-s: 1.8rem;
        --font-s: 2.4rem;
        --font-m: 2.8rem;
        --font-l: 4.8rem;
        --font-xxl: 6rem;
        --font-b: 5rem;
    }
}

@media (max-width: 870px) {
    :root{
        --font-xs: 1.4rem;
        --font-xs-s: 1.6rem;
        --font-s: 2rem;
        --font-m: 2.4rem;
        --font-l: 4rem;
        --font-xxl: 5rem;
        --font-b: 4rem;
    }
}
